.logo {
    width: 100px;
}

.navbar{
  
    background-image: linear-gradient(#091428, rgb(219, 154, 55));
}   

body {
    font-family: 'league' !important;
    
}

@font-face {
    font-family: 'league';
    src: url('./League.otf') format('otf');
    
}
.background-container {
    min-height: 100vh; 
    background-image: url('../fondperso.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
  }

.itembg {
    background-image:  url(../fonditem.jpg);
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
}
.persofont {
    color: rgb(219, 154, 55) !important;
    font-size: 3vh !important;
    background-color: rgba(66, 34, 170, 0.761)!important;
    border-radius: 20px!important;
    display: flex!important;
    justify-content: center!important;
}
.card:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.fontnav {
    color: rgb(219, 154, 55) ;
    font-size: 3vh;
    text-decoration: none;
}
.fontnav:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#detailcard:hover{
    transform: none;
    cursor: auto;

}
#detailcard {
    border: none;
}

@media screen and (min-width: 768px ){
    #detailcard {
        display: flex;
        flex-direction: column;
    }
    #liste-groupe {
        display: flex;
        flex-direction: column;
    }
    
}